*{
    padding: 0px;
    margin: 0px;
}

body{
    /* background: rgba(139, 145, 139,0.5); */ 
}

/*  Navigation bar styling*/
.header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:start;
align-items: center;

 background-color: rgba(11, 116, 151,1);
flex-grow: 1;
flex-shrink: 1;
flex-basis: 40px;
    
}

.logo{
    align-self: flex-start;
    align-items: center;
    margin-left: 0px;

    
    
  }
  img{
    height:10vh;
    width:20vh;
    align-self: start;
    justify-self: start;

  }

.nav-menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: end;
    align-items: center;
    
    
}
 a{
    text-decoration: none;
    padding:20px;
    color: #fff;
    font-size: 20px;
   
}




/*  Content styling*/


.content1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    background-image: url(/UI/Asset/img/n1.jpeg);
    width: 300vh;
    height:80vh;
    margin-left: 0px;
    margin-top: 0px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    flex: 1 1 200px;
   
}



h1{
     padding-top: 150px;
  margin-right: 500px;
  color:rgb(2, 17, 6);
  font-size: 50px;
}
.subcontent p{
    color:rgb(4, 13, 20);
    margin-right: 500px; 
    font-size: 20px;
}
h2{
    
  margin-right: 620px;
  font-size: 30px;
  color: rgba(15, 14, 14,0.7);
  margin-top: 0px;
}

.content0{
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    
    justify-content:center;
    text-align: center;
    margin-top: 0px;
    flex: 1 1 200px;
    
    
}
.content0 h2{
    color: black;
    margin-left: 500px;
}
.content0 h3{
    color: black;
    margin-top: 50px;
    font-size: 20px;
}
 .articles0{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 200px;
}
.articles0 p{
    width: 40vh;
    text-align: justify;
    font-size: 20px;
    margin-left: -40px;
    
    
}
.diary{
    height:20vh;
    width: 5vw;
    
}


.forms{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     justify-content: center;
    height: 50vh;
  margin-top: -50px;
  margin-right: 50px;
 
 
     
}
.form{
    margin-top: 20px;
    flex: 0 1 30px;
    height: 5vh;
    width:  50vh;
    border: solid saddlebrown;
    flex: 1 1 200px;
    
}

.formb{
    margin-top: 10px;
    flex: 0 1 30px;
    height: 5vh;
    width:  15vh;
    background-color: rgb(114, 150, 138);
}


.content2{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-color: rgba(10, 8, 8,0.6);
    flex: 1 1 200px;
    
  

}
.content2 h2{
    margin-left:550px;
    margin-top: 0px;
    color: #fff;
    height: 5vh;
    background-color: rgba(11, 116, 151,1);
    

}
.articles{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    text-align: justify;
    color:rgba(250, 242, 242, 1);
    font-size: 15px;
    align-items: center;
  padding-left: 20px;
  flex: 1 1 200px;
}
.article{
    flex: 1 1 200px;
    justify-content: center;
   align-items: center;
  margin-left: 120px;
}

   
ul a{
    padding:0px;
    color: rgba(250, 242, 242, 1);
    
}
.storya{
    text-align: justify;
 
}
 
.storyb{
    text-align: justify;
}
.storyc{
    text-align: justify;
}
.footer{
   
    font-size: 20px;
    color: rgba(250, 242, 242, 1);
    background-color: rgba(10, 8, 8,0.6);
    text-align: center;
    padding-bottom: 20px;
}

